

.landingContent {
	padding: 5%;
	margin-top: 10%;
}

.centerText {
	text-align: center;
}


.educationIcon {
	text-align: center;
}

.educationTitle {
	text-align: center;
	/*text-shadow: 0 1px 3px rgba(0,0,0,.15);*/
}


blockquote {
	color: grey;
}


.sectionContent {
	padding-top: 3%;
}

.articleContent {
	padding: 3%;
	margin-top: 3%;
	color: #fff;
}

#section4 {
	background: linear-gradient(90deg, #eaeced, #f0f0f0 75%, #27e624);
	/*color: white;*/

}


/*Menu information*/
#menu li {
	display:inline-block;

	margin: 4px;

	color: #000;
	-webkit-border-radius: 3px;
            border-radius: 3px;
	background:#fff;
	background: rgba(255,255,255, 0.5);
}
#menu li.active{
	color: #fff;
	background:#666;
	background: rgba(0,0,0, 0.5);
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	display:block;

	padding: 5px 10px;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	z-index: 70;
	top:0;
	left:0;

	width: 100%;
	height: 40px;
	margin:0;
	padding: 0;
}

.default-slider {
	overflow:auto;
	margin:0;
	padding:0;
	/*background: #e5e6dd;*/
	border-radius: 3px;
	background-color: #265f7c;
	box-shadow: 10px 10px 5px #999999;
	margin: 15px;
}

.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}

.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}
.unslider-arrow.next{left:auto;right:20px}



.unslider-arrow {
		display: block;
		width: 25px;
		height: 25px;

		top: 50%;
		right: -50px;
		left: auto;
		margin-top: -75px;

		overflow: hidden;

		background: rgba(0,0,0,.2) no-repeat 50% 50%;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
		background-size: 7px 11px;

		border-radius: 32px;
		text-indent: -999em;

		opacity: .6;
		transition: opacity .2s;
	}

.unslider-arrow:hover {
			opacity: 1;
}


.unslider-arrow.prev {
	  left: -5%;
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
}

.unslider-arrow.next {
	  right: -5%;
}

.next {
  position: absolute;
  top: 70%;
}

.prev {
  position: absolute;
  top: 70%;
}


.careerContent {
	padding-top: 1%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 1%;
	color: white;

}

/*Employer*/
.careerContent h2 {
	color: #dedbdb;
	text-transform: uppercase;
	font-weight: bold;
}

/*title year*/
.careerContent h3 {
	color: #969596;
	font-style:italic;
	font-weight: bold;
}

/*points*/
.careerPoints > li {
	padding-bottom: 2%;
	padding-left: 5%;
	width: 90%;
	font-size: 1.1em;
	font-family: "Lucida Console", Monaco, monospace;
}


.careerContent small {
	color: rgb(39, 39, 41);
}


.projectsSection {
	background: rgba(60, 70, 68, 0.17);
	border-radius: 2px;
	color: black;
}

mark {
		border-radius: 5px;
    background-color: rgba(109, 217, 59, 0.44);
    color: black;
}

.cd-timeline-content mark {
	border-radius: 5px;
	background-color: rgba(231, 255, 221, 0.44);
	color: black;
}


.classList {
	font-size: 1em;
}

.cd-timeline-content > h2 {
	text-align: center;
	margin: -0.1em;
	font-size: 1.5em;
}

.cd-timeline-content > p {
	font-size: 1.2em;
	margin-bottom: 0px;
}

#section6 {
	text-align: center;
}



#section6 {
	background-image:url(../img/BackgroundFootImage_transparent3.png);
  background-position:center;
	background-repeat: no-repeat;
	background-size: 32%;
}

.footText {
	width: 70%;
}

.footText h3 {
	text-transform: uppercase;
	font-family: "Lucida Console", Monaco, monospace;
	color: #919090; /*#4b4a4a;*/
	padding: 0px;
	margin: 0px;
}

#personalNote {
	font-family: "Lucida Console", Monaco, monospace;
	color: #4b4a4a;
	text-align: left;
}


header {
	margin-bottom: 70px;
}


/* Style the Image Used to Trigger the Modal */
#profilePicture {
    cursor: pointer;
    transition: 0.3s;
}

#profilePicture:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.card-grid {
  width: 250px;
  height: 250px;
  margin: 20px;
  display: inline-block;
}

.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 1px #333 solid;
}

.card-grid .front {
  background-color: #eee;
}

.card-grid .back {
  background-color: #333;
  color: white;
}
